.Collection-about {
  .h2-about {
    font-size: 6rem;
    font-weight: 800;
    @media (max-width: 768px) {
      padding-top: 50px;
      font-size: 3rem;
    }
  }
  padding-top: 13%;
  @media (max-width: 768px) {
    padding-top: 60px; // Reduce padding on mobile
  }
}

.about-container {
  padding-left: 70px;
  background-color: #f8f8f2;
  padding-bottom: 7%;
  @media (max-width: 768px) {
    padding-left: 20px; // Adjust padding for mobile
    margin: 40px 0;
  }
}
h2 {
  display: flex;
  flex-direction: column;
  color: black;
  translate: none;
  rotate: none;
  scale: none;
  transform: translate3d(0px, -1.01rem, 0px);
  font-size: 5rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-family: "Apfel Grotezk", sans-serif;
  font-weight: 800;
  @media (max-width: 768px) {
    font-size: 2rem; // Reduce font size for mobile
    margin-top: 40px;
  }
}
.Cool_Anim-about {
  padding-right: 600px;
  @media (max-width: 768px) {
    padding-right: 0;
  }
}

p {
  padding-right: 80px;
  font-size: 17px;
  font-weight: 400;
  @media (max-width: 768px) {
    padding-right: 20px;
    font-size: 14px; // Smaller font size for mobile
  }
}

.Timeline-container {
  display: flex;
  gap: 15%;
  padding-top: 150px;

  @media (max-width: 768px) {
    flex-direction: column; // Stack timeline items vertically
    gap: 50px; // Adjust gap between items
    padding-top: 80px; // Adjust padding for mobile
  }

  h2 {
    font-family: "Apfel Grotezk", sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 25px;
  }

  p {
    text-align: left;
    line-height: 1.25;
    font-size: 1.1rem;
    width: 630px;
    @media (max-width: 768px) {
      font-size: 13px;
      width: 70%;
      line-height: 1.6;
      margin-bottom: 20px;
      font-weight: 400;
    }
  }

  .Timeline-Image {
    img {
      width: 531px;
      height: 373px;
      object-fit: cover;
      border-radius: 10%;
      left: 50%;

      @media (max-width: 768px) {
        width: 60%;
        height: auto;
        border-radius: 5%;
        margin-left: 20px;
      }
    }
  }
}

img.img-timeline {
  background-color: #147c97;
  border-radius: 50%;
  /* font-size: 32px; */
  width: 50px;
  height: 50px;

  @media (max-width: 768px) {
    width: 40px; // Smaller icon size on mobile
    height: 40px;
  }
}

.Timeline_Line {
  position: absolute;
  width: 5px;
  height: 244%;
  background-color: #ccc;
  border-radius: 10px;
  top: 91%;
  left: 51%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  @media (max-width: 768px) {
    height: 415%;
    /* margin-right: 58px; */
    margin-left: 135px;
  }
}

.Timeline_Line-3 {
  position: absolute;
  width: 5px;
  height: 244%;

  border-radius: 10px;
  top: 91%;
  left: 51%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  @media (max-width: 768px) {
    height: 415%;
    /* margin-right: 58px; */
    margin-left: 135px;
  }
}
.Contain_Fluid-3 img {
  position: absolute; /* Nếu bạn cần định vị ảnh tuyệt đối */

  left: -24%;
  top: 50%;
  transform: translate(-50%, 0);
  border-radius: 500px;
  background-color: #147c97;
  max-width: 115px;
  height: 117px;
  z-index: 5;
  width: auto;
  border: none;
  outline: none;
  box-sizing: content-box;
}

.Timeline_Line-2 {
  position: absolute;
  width: 5px;

  background-color: #147c97;
  border-radius: 10px;
  top: 91%;
  left: 51%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;

  @media (max-width: 768px) {
    height: 415%;
    /* margin-right: 58px; */
    margin-left: 135px;
  }
}

.Timeline_Content-2 {
  display: flex;

  overflow-x: hidden;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .about-2 {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  .about-p2 {
    font-size: 1.1rem;
    padding-top: 100px;
    padding-left: 158px;

    @media (max-width: 768px) {
      font-size: 1.6rem;
      padding-top: 0px;
      padding-left: 0px;
    }
  }
  .Parallax_Image_2 {
    width: 510px;
    height: 375px;
    object-fit: cover;
    border-radius: 50px;

    margin-top: 10px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 25%;

    @media (max-width: 768px) {
      width: 55%;
      height: 130px;
      margin-left: 20px;
      border-radius: 5%;
    }
  }

  .Timeline-Image-2 {
    margin-top: 11%;

    @media (max-width: 768px) {
      margin-top: 30px; // Adjust margin for mobile
    }
  }
}

.Timeline-container h2 {
  font-family: "Apfel Grotezk", sans-serif;
  text-transform: uppercase;
  margin-top: 14px;
  font-size: 25px;
  font-weight: 600;
  @media (max-width: 768px) {
    padding-right: 40px;
    font-size: 21px;
  }
}
.scrollable-timeline {
  @media (max-width: 768px) {
  }
}

.Timeline-Image-2 {
  margin-top: 11%;
}

.Timeline_Anchor {
  z-index: 2;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #ccc;

  transform: scale(0.6);
}
.Timeline_Anchor-3 {
  z-index: 2;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #ccc;
  z-index: 5;
  transform: scale(0.6);
}
