.transition-circle {
  position: fixed;
  top: 90%;
  left: -10%;
  transform: translateX(-50%);
  width: 2000px;
  height: 2000px;
  background: rgb(246, 244, 244);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}
