body {
  background-color: #f8f8f2;
}

.Newsletter_Container {
  border: 1px solid #333;
  background-color: #147c98;
  color: #f8f8f2;
  border-radius: 2rem;
  padding: 2rem 4rem;
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 30px;

  .Cool_Text_Anim {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
    color: white;
  }

  p {
    font-family: "balto", sans-serif;
    line-height: 1.25;
    margin-bottom: 30px;
  }
}

.Newsletter__Inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .btn-join {
    margin-left: 20px;
    border-radius: 100px;
    padding: 0 30px;
    font-weight: 500;
    border: none;
    background-color: #112229;
    color: white;
    cursor: pointer;

    &:hover {
      border: 2px solid #112229;
      background-color: #f8f8f2;
      color: black;
    }
  }

  .Form__Input,
  .Search .Form__Input {
    border-radius: 10000px;
    height: 50px;
    width: 333px;
    border: none;
    outline: none;
    padding: 1rem 1.2rem 0.8rem;
    font-family: "Apfel Grotezk", sans-serif;
    background-color: #ffa7ee;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .Form__Submit,
  .Search .Form__Submit {
    background-color: #112229;
    border: 2px solid #112229;
    margin-left: 6px;
  }
}

.Newsletter_Floating_Img.Left {
  position: absolute;
  left: -50px;
  top: -35px;
  width: 140px;
  z-index: 1;
}
.Newsletter_Floating_Img.Right {
  position: absolute;
  left: 95%;
  top: 54%;
  width: 140px;
  height: 140px;
}
////////////////////////////////////////////////////

@media screen and (max-width: 768px) {
  .Newsletter_Container {
    width: 90%;
    min-width: unset;
    padding: 1.5rem 1rem;
    border-radius: 1rem;

    .Cool_Text_Anim {
      font-size: 1.6rem; // hoặc 1.8rem tuỳ bạn muốn
      margin: 20px 0;
      line-height: 1.3;
      font-weight: 800;
    }

    p {
      font-size: 0.95rem;
      text-align: center;
      margin: 10px 0 25px;
    }

    .Newsletter__Inner {
      align-items: center;

      .Form__Input {
        width: 100%;

        font-size: 0.95rem;
        height: 45px;
      }

      .btn-join {
        width: 32%;
        padding: 10px 20px;
        font-size: 15px;
        margin-left: 0;
        height: 44px;
        margin-left: 10px;
      }
    }

    .Newsletter_Floating_Img.Left {
      width: 80px;
      top: -25px;
      left: -20px;
    }

    .Newsletter_Floating_Img.Right {
      width: 80px;
      height: 80px;
      left: auto;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
