.header-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  padding: 30px 4vw;
  transition: all 1s cubic-bezier(0.28, 0.71, 0, 0.98);

  .menu-container {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }

  .main-menu {
    display: flex;

    .menu_icon {
      svg.Icon-cart {
        height: 12px;
      }
    }
  }

  .main-menu_right {
    display: flex;
    gap: 20px;
  }

  ul {
    list-style-type: none;
    margin-right: 50px;
    display: flex;
    gap: 50px;
  }

  a {
    text-decoration: none;
    color: #f8f8f2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

///////////navbar-light/////////////////////
.header-container-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  padding: 30px 4vw;
  transition: all 1s cubic-bezier(0.28, 0.71, 0, 0.98);
  background-color: #ffffff;

  .menu-container-nav {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }

  .main-menu-nav {
    display: flex;

    .menu_icon-nav {
      svg.Icon-cart-nav {
        height: 12px;
      }
    }
  }

  .main-menu_right-nav {
    display: flex;
    gap: 20px;
  }

  ul {
    list-style-type: none;
    margin-right: 50px;
    display: flex;
    gap: 50px;
  }

  a {
    text-decoration: none;
    color: #112229;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
