.Section-btn {
  padding: 50px;
  border: 1px solid #ccc;
  .Collection_Browser_Tabs {
    display: flex;
    padding: 12px;
    .Collection_Browser_Tab_Button-Cookies {
      padding-right: 20px;
      button {
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
        border-radius: 10000px;
        border: 2px solid;
        padding: 1rem 2rem;
        color: var(--dark);
        background-color: white;
        color: black;
        font-weight: 600;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .Collection_Browser_Tab_Button-Cake {
      button {
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
        border-radius: 10000px;

        padding: 1rem 2rem;

        font-weight: 600;
        color: black;
        background-color: white;
        border: 1px solid #ffa7ee;

        &:hover {
          background-color: #ffa7ee;
          color: white;
        }
      }
    }
  }
}
