.Newsletter-container {
  background-color: #f8f8f2;
  margin-bottom: 20px;
}
.Newsletter_Content {
  border: 1px solid #333;
  background-color: #147c98;
  color: #f8f8f2;
  border-radius: 2rem;
  padding: 2rem 4rem;
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 41%;

  .Cool_Text_Anim {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
    color: white;
    font-weight: 800;

    @media screen and (max-width: 768px) {
      font-size: 21px;
      margin: 20px 0;
    }
  }

  p {
    font-family: "balto", sans-serif;
    line-height: 1.25;
    margin-bottom: 30px;
  }
}

.Newsletter__Inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .btn-join {
    margin-left: 20px;
    border-radius: 100px;
    padding: 0 30px;
    font-weight: 500;
    border: none;
    background-color: #112229;
    color: white;
    cursor: pointer;

    &:hover {
      border: 2px solid #112229;
      background-color: #f8f8f2;
      color: black;
    }
  }

  .Form__Input,
  .Search .Form__Input {
    border-radius: 10000px;
    height: 50px;
    width: 333px;
    border: none;
    outline: none;
    padding: 1rem 1.2rem 0.8rem;
    font-family: "Apfel Grotezk", sans-serif;
    background-color: #ffa7ee;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .Form__Submit,
  .Search .Form__Submit {
    background-color: #112229;
    border: 2px solid #112229;
    margin-left: 6px;
  }
}

.Newsletter_Floating_Img.Left {
  position: absolute;
  left: -50px;
  top: -35px;
  width: 140px;
  z-index: 1;
}
.Newsletter_Floating_Img.Right {
  position: absolute;
  left: 95%;
  top: 54%;
  width: 140px;
  height: 140px;
}
////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .Newsletter-container {
    width: 100%;
    max-width: 396px;
    padding: 1rem;
    /* border-radius: 0.8rem; */
    margin-bottom: 5%;
  }

  .Cool_Text_Anim {
    font-size: 1.2rem;
    margin: 8px 0;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
  }

  .Newsletter_Content {
    padding: 1.5rem;
    width: 100%;

    min-width: auto;
    margin-bottom: 10%;
    max-width: 360px;
    display: flex;
  }

  .Newsletter_Content p {
    font-size: 0.8rem;
    text-align: center;
    margin: 6px 0 12px;
  }

  .Newsletter__Inner {
    align-items: center;

    .btn-join {
      font-size: 13px;
      height: 53px;
      margin-top: 0px;
      background-color: black;
      color: white;
    }
  }

  .Form__Input {
    width: 100%;
    max-width: 220px;
    font-size: 0.8rem;
    height: 36px;
    padding: 0.5rem;
  }

  .btn-join {
    width: 100%;
    max-width: 220px;
    padding: 6px;
    font-size: 13px;
    height: 36px;
    margin-top: 6px;
  }

  .Newsletter_Floating_Img.Left {
    width: 35px;
    top: -10px;
    left: -8px;
  }

  .Newsletter_Floating_Img.Right {
    width: 35px;
    height: 35px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
}
